body {
    font-family: Arial, sans-serif;
    background-color: #b1aeae;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000;
}

section {
    padding: 20px;
}

.personagem {
    margin-bottom: 40px;
}

.personagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
